.tripList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .tripList > .card {
    margin: auto;
  }
}

img {
  max-height: 100%;
  max-width: auto;
  border-radius: 50%;
  padding: 20px;
}

.fa {
  cursor: pointer;
}

.cheapest {
  color: green;
}

.mostExpensive {
  color: red;
}
